<mat-toolbar>
  <span class="tb-title">Transportation</span>
  <a routerLink="/admin/transportation/add">
    <mat-icon>add_circle_outline</mat-icon>
  </a>
  <div class="filter">
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</mat-toolbar>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="plate">
      <th mat-header-cell *matHeaderCellDef> Plate </th>
      <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>

    <ng-container matColumnDef="driver">
      <th mat-header-cell *matHeaderCellDef> Driver </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/admin/users/details/{{element.driver._id}}">{{element.driver.firstName}} {{element.driver.lastName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon aria-label="Menu">more_vertical</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="/admin/transportation/details/{{element._id}}" mat-menu-item>Details</a>
          <a routerLink="/admin/transportation/edit/{{element._id}}" mat-menu-item>Edit</a>
          <button mat-menu-item (click)="delete(element._id)">Delete</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>