<mat-toolbar>
  <span class="tb-title">Customer</span>
  <span class="spacer"></span>
  <a routerLink="/admin/customers/add" matTooltip="Add customer">
    <mat-icon>add_circle_outline</mat-icon>
  </a>
  <a routerLink="/admin/customers/edit/{{customer._id}}" matTooltip="Edit customer">
    <mat-icon>edit</mat-icon>
  </a>
  <a (click)="delete(customer._id)" matTooltip="Delete customer">
    <mat-icon>delete_outline</mat-icon>
  </a>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <img *ngIf="customer.photo" mat-card-avatar src="{{MEDIA_URL}}/img/customer/{{customer._id}}/{{ customer.photo}}" alt="{{ customer.fullName }}">
    <mat-card-title>{{ customer.fullName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-icon>email</mat-icon>
      <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
    </div>
    <div>
      <mat-icon>phone</mat-icon>{{ customer.phone }}
    </div>
    <div>
      <h3>Packages</h3>
      <table class="mat-table" *ngIf="pkg.length">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell">Package</th>
            <th class="mat-header-cell">Request date</th>
            <th class="mat-header-cell">Rate</th>
            <th class="mat-header-cell">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row" *ngFor="let p of pkg; index as i">
            <td class="mat-cell"><a routerLink="/admin/packages/setup/{{p._id}}">{{p.name}} ({{p.startDate | date}} - {{p.endDate | date}})</a></td>
            <ng-container *ngFor="let c of p.customers">
              <ng-container *ngIf="c.id === customer._id">
                <td class="mat-cell">{{ c.requested | date: 'MMM d, y, h:mm a' }}</td>
                <td class="mat-cell">{{ c.rate }}</td>
                <td class="mat-cell">{{ c.status }}</td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>