<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="/admin/customers" routerLinkActive="active">
        <span matBadge="{{ totals.customers }}" matBadgeOverlap="false">Customers</span>
      </a>
      <a mat-list-item routerLink="/admin/accomodation" routerLinkActive="active">
        <span matBadge="{{ totals.accomodation }}" matBadgeOverlap="false">Accomodation</span>
      </a>
      <a mat-list-item routerLink="/admin/activities" routerLinkActive="active">
        <span matBadge="{{ totals.activities }}" matBadgeOverlap="false">Activities</span>
      </a>
      <a mat-list-item routerLink="/admin/transportation" routerLinkActive="active">
        <span matBadge="{{ totals.transportation }}" matBadgeOverlap="false">Transportation</span>
      </a>
      <a mat-list-item routerLink="/admin/users" routerLinkActive="active">
        <span matBadge="{{ totals.users }}" matBadgeOverlap="false">Users</span>
      </a>
      <a mat-list-item routerLink="/admin/packages" routerLinkActive="active">
        <span matBadge="{{ totals.packages }}" matBadgeOverlap="false">Packages</span>
      </a>
      <a mat-list-item routerLink="/admin/media" routerLinkActive="active">Media</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Travel Now Asia</span>
      <span class="fill-remaining-space"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{user.firstName}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>