<mat-toolbar>
  <span class="tb-title">Transportation</span>
  <a mat-button routerLink="/admin/transportation/edit/{{transportation._id}}">Edit</a>
  <button mat-button (click)="delete(transportation._id)" color="warn">Delete</button>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ transportation.brand }}</mat-card-title>
    <mat-card-subtitle>{{ transportation.model }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="transportation.photos[0]" mat-card-image src="{{MEDIA_URL}}/img/transportation/{{transportation._id}}/{{ transportation.photos[0]}}"
    alt="{{ transportation.brand}} {{ transportation.model}}">
  <mat-card-content>
    <p id="plate">{{transportation.plate}} </p>
    <p>Capacity: {{transportation.capacity}} </p>
    <p>Driver:
      <a routerLink="/admin/users/details/{{transportation.driver._id}}">{{transportation.driver.firstName}} {{transportation.driver.lastName}}</a>
    </p>
    <p>{{transportation.observations}} </p>
  </mat-card-content>
</mat-card>