<mat-toolbar>
  <span class="tb-title">Accomodation</span>
</mat-toolbar>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="accomForm">
    <div class="wrap">
      <form [formGroup]="accomForm">
        <ng-template matStepLabel>Accomodation form</ng-template>

        <div>
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" formControlName="type" required>
              <mat-option *ngFor="let h of hotel_types" [value]="h">
                {{ h }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address" required></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="add-btn-width">
            <mat-select placeholder="Contact person" formControlName="contact" required>
              <mat-option *ngFor="let contact of contacts" [value]="contact._id">
                {{ contact.firstName }} {{ contact.lastName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="accomForm.get('contact').hasError('required')">Please choose a contact person</mat-error>
          </mat-form-field>
          <a routerLink="/admin/users/add">
            <mat-icon aria-label="Add contact person">person_add</mat-icon>
          </a>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-select placeholder="Amenities" formControlName="amenities" multiple>
              <mat-option *ngFor="let am of amenities" [value]="am">
                {{ am }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox formControlName="active">Active</mat-checkbox>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Webpage" formControlName="webpage">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observations" formControlName="observations"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon aria-label="Select images">library_add</mat-icon>
            <span style="margin-left: 10px;">Choose accomodation photo(s)</span>
            <input #fileInput [hidden]="true" type="file" accept="image/png, image/jpeg" multiple (change)="onFileChange($event)">
          </button>
          <button mat-icon-button (click)="deleteAllImages($event)" id="delete_img_btn">
            <mat-icon aria-label="Delete all images" matTooltip="Delete all images">delete_sweep</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
      <div class="gallery">
      </div>
    </div>
  </mat-step>
  <mat-step [optional]="true">
    <div class="wrap">
      <form [formGroup]="roomForm">
        <ng-template matStepLabel>Room form</ng-template>

        <div>
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Number" formControlName="number" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" formControlName="type" required>
              <mat-option *ngFor="let rt of room_types" [value]="rt">
                {{ rt }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Beds" formControlName="beds" required>
            <mat-hint>Quantity of beds</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Price" formControlName="price">
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox formControlName="available">Available</mat-checkbox>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observations" formControlName="observations"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
          <button mat-raised-button color="primary" (click)="addRoom()">Save room</button>
        </div>
      </form>
      <table class="mat-table mat-elevation-z8" *ngIf="rooms.length">
        <thead>
          <tr class="mat-header-row">
            <th class="mat-header-cell">Number</th>
            <th class="mat-header-cell">Type</th>
            <th class="mat-header-cell">Beds</th>
            <th class="mat-header-cell">Price</th>
            <th class="mat-header-cell"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row" *ngFor="let room of rooms; index as i" (click)="selectRoom(i)">
            <td class="mat-cell">{{room.number}}</td>
            <td class="mat-cell">{{room.type}}</td>
            <td class="mat-cell">{{room.beds}}</td>
            <td class="mat-cell">{{room.price}}</td>
            <td class="mat-cell">
              <button mat-icon-button matTooltip="Remove room" (click)="deleteRoom(i)">
                <mat-icon aria-label="Remove room">remove_circle_outline</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-card id="done-step">
      <mat-card-title>{{ accomForm.get('name').value }} ({{ accomForm.get('type').value }})</mat-card-title>
      <mat-card-subtitle>
        <a href="{{ accomForm.get('webpage').value }}" target="_blank">{{ accomForm.get('webpage').value }}</a>
      </mat-card-subtitle>
      <mat-card-content>
        <div>
          <address>
            {{ accomForm.get('address').value }}
          </address>
          <div>
            {{ accomForm.get('phone').value }}
          </div>
        </div>
        <div>
          <p>{{ accomForm.get('description').value }}</p>
          <p>{{ accomForm.get('observations').value }}</p>
          <div *ngIf="accomForm.get('amenities').value[0] !== ''">
            <h3>Amenities</h3>
            <mat-chip-list>
              <mat-chip *ngFor="let am of accomForm.get('amenities').value ">{{ am }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div>
          <h3>Rooms</h3>
          <table class="mat-table" *ngIf="rooms.length">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">Number</th>
                <th class="mat-header-cell">Type</th>
                <th class="mat-header-cell">Beds</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let room of rooms; index as i" (click)="selectRoom(i)">
                <td class="mat-cell">{{room.number}}</td>
                <td class="mat-cell">{{room.type}}</td>
                <td class="mat-cell">{{room.beds}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="save()">Save all</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>

<!-- <p>Form value: {{ accomForm.value | json }}</p>
<p>Form status: {{ accomForm.status | json }}</p> -->