form {
  width: 50%;
  padding: 0px 16px;
  margin: 15px 0px;
}

form div:last-child {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.add-btn-width {
  width: 90%;
  margin-right: 25px;
}

.wrap {
  display: flex;
}

.wrap table {
  width: 49%;
}

.wrap .gallery {
  text-align: center;
  width: 49%;
  margin: 15px 0px;
}

#done-step {
  margin: 20px 0px;
}

#done-step table {
  width: 60%;
}

mat-icon {
  vertical-align: middle;
}

#delete_img_btn {
  margin-left: 16px;
}
