<mat-toolbar>
  <span class="tb-title">Activities</span>
  <a mat-button routerLink="/admin/activities/edit/{{activity._id}}">Edit</a>
  <button mat-button (click)="delete(activity._id)" color="warn">Delete</button>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ activity.name }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="activity.photos[0]" mat-card-image src="{{MEDIA_URL}}/img/activities/{{activity._id}}/{{ activity.photos[0]}}"
    alt="{{ activity.name}}">
  <mat-card-content>
    {{ activity.description }}
  </mat-card-content>
</mat-card>