<mat-toolbar>
  <span class="tb-title">Activities</span>
  <span class="spacer"></span>
  <a routerLink="/admin/activities/add" matTooltip="Add activity">
    <mat-icon>add_circle_outline</mat-icon>
  </a>
  <a routerLink="/admin/activities/edit/{{activity._id}}" matTooltip="Edit activity">
    <mat-icon>edit</mat-icon>
  </a>
  <a (click)="delete(activity._id)" matTooltip="Delete activity">
    <mat-icon>delete_outline</mat-icon>
  </a>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ activity.name }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="activity.photos[0]" mat-card-image src="{{MEDIA_URL}}/img/activities/{{activity._id}}/{{ activity.photos[0]}}"
    alt="{{ activity.name}}">
  <mat-card-content>
    {{ activity.description }}
  </mat-card-content>
</mat-card>