form {
    width: 50%;
    padding: 0px 16px;
    margin: 20px 0px;
}
  
  form div:last-child {
    margin-top: 20px;
  }
  
  .full-width {
    width: 100%;
  }

  button[type=submit] {
    margin-top: 20px;
  }

  mat-radio-group {
    margin-left: 15px;
  }

  mat-radio-group mat-radio-button:last-child {
    margin-left: 10px;
  }

  mat-card:first-child {
    margin-bottom: 15px;
  }

  mat-card mat-form-field {
    width: 49%;
  }
  mat-card mat-form-field:first-child {
    margin-right: 10px;
  }
  .wrap {
    display: flex;
}

.wrap table {
    width: 49%;
}

.wrap .gallery {
    text-align: center;
    width: 49%;
    margin: 15px 0px;
}
