<mat-toolbar>
  <span class="tb-title">Accomodation</span>
  <a mat-button routerLink="/admin/accomodation/edit/{{accomodation._id}}">Edit</a>
  <button mat-button (click)="delete(accomodation._id)" color="warn">Delete</button>
</mat-toolbar>

<mat-card>
  <mat-card-title>{{ accomodation.name}} ({{ accomodation.type}})</mat-card-title>
  <mat-card-subtitle>
    <a href="{{ accomodation.webpage}}" target="_blank">{{ accomodation.webpage}}</a>
  </mat-card-subtitle>
  <mat-card-content>
    <div>
      <address>
        {{ accomodation.address}}
      </address>
      <div>
        {{ accomodation.phone }}
      </div>
    </div>
    <div>
      <p>{{ accomodation.description}}</p>
      <div *ngIf="accomodation.amenities[0] != ''">
        <h3>Amenities</h3>
        <mat-chip-list>
          <mat-chip *ngFor="let am of accomodation.amenities">{{ am }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <table class="mat-table" *ngIf="rooms.length">
      <caption>Rooms</caption>
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Number</th>
          <th class="mat-header-cell">Type</th>
          <th class="mat-header-cell">Beds</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row" *ngFor="let room of rooms; index as i" (click)="selectRoom(i)">
          <td class="mat-cell">{{room.number}}</td>
          <td class="mat-cell">{{room.type}}</td>
          <td class="mat-cell">{{room.beds}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>