mat-card {
  margin: 16px;
}

.tab-content {
  padding: 16px;
}

form {
  width: 50%;
  margin: 10px 0px;
}

#transportationForm,
#activitiesForm {
  width: 45%;
}

#transportationForm mat-chip-list {
  float: right;
}

.full-width {
  width: 100%;
}

button[type="submit"] {
  margin-top: 20px;
}

.dates,
.mt10 {
  margin-top: 10px;
}

.dates mat-form-field {
  width: 49%;
}

.dates mat-form-field:first-child {
  margin-right: 10px;
}

.wrap {
  display: flex;
}

.wrap table {
  width: 54%;
  margin-left: 16px;
}

table,
mat-form-field {
  width: 100%;
}

.filter {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

#accomodationForm {
  width: 100%;
  display: flex;
}

#accomodationForm mat-form-field {
  flex: 1;
  margin-right: 10px;
}

#accomodationForm ~ table {
  margin-top: 16px;
}
