form {
  padding: 0px 16px;
  margin: 20px 0px;
}

form > div {
  display: flex;
  margin-bottom: 16px;
}

mat-form-field {
  margin-right: 12px;
}

mat-checkbox {
  margin-right: 20px;
  margin-top: 10px;
}

form > div:nth-child(2) mat-form-field {
  width: 33%;
}

#name {
  width: 50%;
}

.date {
  width: 24%;
}

#delete_img_btn {
  margin-left: 12px;
}

.spacer {
  flex: 1 1 auto;
}